.modal {
  position: fixed;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 30rem;
  font-family: "Roboto", sans-serif;
  z-index: 999;
  animation: blowUp 0.5s forwards;
}

.fadeOut {
  animation: blowDown 0.5s forwards;
}

@keyframes blowUp {
  from {
    transform: scale(0);
    opacity: 0;
    transform-origin: center;
  }
  to {
    transform: scale(1);
    opacity: 1;
    transform-origin: center;
  }
}

@keyframes blowDown {
  from {
    transform: scale(1);
    opacity: 1;
    transform-origin: center;
  }
  to {
    transform: scale(0);
    opacity: 0;
    transform-origin: center;
  }
}

.heading {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 13px;
}

.groupName {
  font-size: 18px;
  font-weight: 500;
  margin-right: 12px;
}

.colorContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.colorPalette {
  display: flex;
  margin-left: 10px;
  flex-wrap: wrap;
}

.colorCircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  border: 2px solid transparent;
}

.selected {
  border: 2px solid #000;
}

.inputGroup {
  margin-bottom: 20px;
  border-radius: 22px;
  width: 14rem;
  height: 2rem;
  padding: 12px;
  color: #979797;
  border: 0.88px solid #cccccc;
  outline: none;
}

.groupColor {
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
}

.createBtn {
  margin-top: 20px;
  padding: 6px 12px;
  background-color: #001f8b;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.successMessage,
.errorMessage,
.warningMessage {
  position: fixed;
  top: 20px;
  right: 2%;
  transform: translateX(50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 99;
}

.successMessage {
  background-color: #4caf50;
  animation: fadeInOut 3s forwards;
}

.errorMessage {
  background-color: #f44336;
  animation: shake 0.2s forwards;
}

.warningMessage {
  background-color: #ff9800;
  animation: fadeAndScale 0.5s forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px) translateX(-50%);
  }
  50% {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px) translateX(-50%);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(-50%);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(calc(-50% - 10px));
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(calc(-50% + 10px));
  }
}

@keyframes fadeAndScale {
  0% {
    opacity: 0;
    transform: scale(0.5) translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(-50%);
  }
}
