.noteContainer {
  display: flex;
  flex-direction: column;
  width: 75vw;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.noteHeader {
  background-color: #001f8b;
  color: #ffffff;
  padding: 20px;
  border-radius: 5px 0px 0 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  max-height: 75px;
}


.noteHeaderText {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
}

.groupCircle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
}

.notes {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 40%;
  margin: 20px 0px 20px 50px;
  border: 1px solid rebeccapurple;
}

.noteText {
  margin-bottom: 10px;
}

.noteTimestamp {
  color: #353535;
  font-size: 12px;
}

.noteInput {
  background-color: #001f8b;
  padding: 18px;
  height: 25vh;
  border: 1px solid #cccccc;
  border-radius: 3px;
  bottom: 20px;
  margin-top: auto;
  margin-top: auto;
}

.noteInput textarea {
  width: 100%;
  height: 100%;
  font-size: 14px;
  outline: none;
  border: none; 
  resize: none; 
  padding: 5px;
  border-radius: 5px;
}

.arrowButton {
  position: fixed;
  bottom: 25px;
  right: 20px;
  cursor: pointer;
}